@import "../../../../../styles.less";

.constraints_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: @space-xl;
    list-style: none;
    background-color: @background-strong;
    padding: @space-md;
    border-radius: @space-s;
}
