/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    min-height: 100%;
    background-color: @background-page;
}



// tokens bruts de couleur
@dark: #000205;
@darkest: #000000;
@lightest: #ffffff;
@silver: #F0E7E8;
@paper: #f5ede4;
@paper-dark: #C9B499;
@blue: #9B6BB8;
@blue-dark: #3C1557;
@green: #83A368;
@red: red;

// variables de couleur
@background-page: @dark;
@background-surface: @paper;
@background-strong: @paper-dark;

@text-primary: @darkest;
@text-secondary: @lightest;


@danger: @red;
@succes: @green;
@contrast : @lightest;
@accent: @blue;

@border: @blue;
@border-strong: @blue-dark;


