/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    background-color: @background-page;
}

.title--accent {
    color: @accent;
}

// variables d'espacements
@space-xs: 5px;
@space-s: 10px;
@space-md: 15px;
@space-l: 20px;
@space-xl: 25px;

@width-all: 95vw;

// tokens bruts de couleur
@dark: #000205;
@darkest: #000000;
@lightest: #ffffff;
@silver: #F0E7E8;
@paper: #f5ede4;
@paper-dark: #C9B499;
@blue: #9B6BB8;
@blue-dark: #3C1557;
@green: #83A368;
@red: red;

// variables de couleur
@background-page: @blue;
@background-surface: @paper;
@background-strong: @paper-dark;
@background-secondary: @lightest;

@text-primary: @darkest;
@text-secondary: @lightest;


@danger: @red;
@succes: @green;
@contrast : @lightest;
@accent: @blue;
@strong: @blue-dark;

@border: @blue;
@border-strong: @blue-dark;


