<div class="drawer" [class.drawer--isOpen]="drawerStore.isOpen()" [attr.aria-hidden]="!drawerStore.isOpen()"
    [attr.inert]="drawerStore.isOpen() ? null : ''" role="dialog" aria-modal="true">
    <!-- @if(profile()) {
    <h2>EDIT</h2>
    } @else {
    <h2>CREATE</h2>
    } -->


    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
        <fieldset class="fieldset--col3">
            <legend>Role</legend>
            <label>
                Nom :
                <input type="text" formControlName="nom" />
            </label>
            <label>
                Size :
                <select formControlName="size">
                    @for (size of sizes; track size) {
                    <option [value]="size">
                        {{size}}
                    </option>
                    }
                </select>
            </label>
            <label>
                Archetype :
                <select formControlName="archetype">
                    @for (archetype of archetypes; track archetype) {
                    <option [value]="archetype">
                        {{archetype}}
                    </option>
                    }
                </select>
            </label>
        </fieldset>


        <fieldset formGroupName="stats">
            <legend>Stats</legend>
            <table class="drawer-stats">
                <thead>
                    <tr>
                        <th>RES</th>
                        <th>MOV</th>
                        <th>ATT H1</th>
                        <th>ATT H2</th>
                        <th>SHT</th>
                        <th>WND</th>
                        <th>DVA</th>
                        <th>DVS</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{profileForm.controls.stats.controls.res.value}}+</td>
                        <td>{{profileForm.controls.stats.controls.mov.value}}''</td>
                        @if(profileForm.controls.stats.controls.attH1.value >= 0){
                        <td>+{{profileForm.controls.stats.controls.attH1.value}}</td>
                        } @else {
                        <td>{{profileForm.controls.stats.controls.attH1.value}}</td>
                        }
                        @if(profileForm.controls.stats.controls.attH2.value >= 0){
                        <td>+{{profileForm.controls.stats.controls.attH2.value}}</td>
                        } @else {
                        <td>{{profileForm.controls.stats.controls.attH2.value}}</td>
                        }
                        @if(profileForm.controls.stats.controls.sht.value >= 0){
                        <td>+{{profileForm.controls.stats.controls.sht.value}}</td>
                        } @else {
                        <td>{{profileForm.controls.stats.controls.sht.value}}</td>
                        }
                        <td>{{profileForm.controls.stats.controls.wnd.value}}</td>
                        <td>{{profileForm.controls.stats.controls.dva.value}}+</td>
                        <td>{{profileForm.controls.stats.controls.dvs.value}}+</td>
                    </tr>
                </tbody>
            </table>


        </fieldset>

        <fieldset class="fieldset--col3">
            <legend>Weapons</legend>
            <div formGroupName="hand1">
                <label>
                    Weapon:
                    <select formControlName="weapon">
                        @for (weapon of meleeWeapons; track weapon.id) {
                        <option [ngValue]="weapon">
                            {{ weapon.name }}
                        </option>
                        }
                    </select>
                </label>

                <label>
                    Enhancement:
                    <select formControlName="enhancement">
                        <option [ngValue]="null">None</option>

                        @for (item of weaponEnhancements; track item.id) {
                        <option [ngValue]="item">
                            {{ item.name }}
                        </option>
                        }
                    </select>
                </label>
            </div>
            <div formGroupName="hand2">
                <label>
                    Weapon:
                    <select formControlName="weapon">
                        @for (weapon of meleeWeapons; track weapon.id) {
                        <option [ngValue]="weapon">
                            {{ weapon.name }}
                        </option>
                        }
                    </select>
                </label>

                <label>
                    Enhancement:
                    <select formControlName="enhancement">
                        <option [ngValue]="null">None</option>
                        @for (item of weaponEnhancements; track item.id) {
                        <option [ngValue]="item">
                            {{ item.name }}
                        </option>
                        }
                    </select>
                </label>
            </div>

            <div>
                <label>
                    Missile:
                    <select formControlName="missile">
                        @for (weapon of missileWeapons; track weapon.id) {
                        <option [ngValue]="weapon">
                            {{ weapon.name }}
                        </option>
                        }
                    </select>
                </label>
                <label>
                    Enhancement:
                    <select formControlName="missileMisc">
                        <option [ngValue]="null">None</option>
                        @for (item of missileWeaponEnhancements; track item.id) {
                        <option [ngValue]="item">
                            {{ item.name }}
                        </option>
                        }
                    </select>
                </label>
            </div>

        </fieldset>

        <fieldset class="fieldset--col3">
            <legend>Equipment</legend>
            <label>
                Armour :
                <select formControlName="armour">
                    @for (armour of armors; track armour) {
                    <option [ngValue]="armour">
                        {{armour.name}}
                    </option>
                    }
                </select>
            </label>
            <label>
                Misc 1 :
                <select formControlName="misc1">
                    <option [ngValue]="null">None</option>

                    @for (item of standaloneMiscItems; track item.id) {
                    <option [ngValue]="item">
                        {{ item.name }}
                    </option>
                    }
                </select>
            </label>

            <label>
                Misc 2 :
                <select formControlName="misc2">
                    <option [ngValue]="null">None</option>

                    @for (item of standaloneMiscItems; track item.id) {
                    <option [ngValue]="item">
                        {{ item.name }}
                    </option>
                    }
                </select>
            </label>
        </fieldset>

        <fieldset class="fieldset--col4">
            <legend>Traits</legend>

            <label>
                Trait 1 :
                <select formControlName="trait1">
                    <option [ngValue]="null">None</option>
                    @for (trait of traits; track trait) {
                    <option [ngValue]="trait">
                        {{trait.name}}
                    </option>
                    }
                </select>
            </label>
            <label>
                Trait 2 :
                <select formControlName="trait2">
                    <option [ngValue]="null">None</option>
                    @for (trait of traits; track trait) {
                    <option [ngValue]="trait">
                        {{trait.name}}
                    </option>
                    }
                </select>
            </label>
            <label>
                Trait 3 :
                <select formControlName="trait3">
                    <option [ngValue]="null">None</option>
                    @for (trait of traits; track trait) {
                    <option [ngValue]="trait">
                        {{trait.name}}
                    </option>
                    }
                </select>
            </label>
            <label>
                Trait 4 :
                <select formControlName="trait4">
                    <option [ngValue]="null">None</option>
                    @for (trait of traits; track trait) {
                    <option [ngValue]="trait">
                        {{trait.name}}
                    </option>
                    }
                </select>
            </label>
        </fieldset>

        <div class="buttons">
            <button type="submit">
                {{ drawerStore.profile() ? "Edit" : "Save"}}
            </button>
            <button type="button" class="optional" (click)="toggleRuleModal()">
                View rules ?
            </button>
            <button type="button" (click)="cancel()">
                Cancel
            </button>
        </div>

    </form>
    @if(isRuleModalOpen) {
    <div class="ruleModal">
        <div class="ruleModal_controls">
            <h2>Special rules</h2>
            <button type="button" (click)="toggleRuleModal()">Close</button>
        </div>
        <div class="ruleModal_rules">

            @if(archetypeSpecials[profileForm.getRawValue().archetype] != "") {
                <p><strong>{{profileForm.getRawValue().archetype}} : </strong> {{archetypeSpecials[profileForm.getRawValue().archetype]}}</p>
            }

            @if(sizeSpecials[profileForm.getRawValue().size]) {
                <p><strong>{{profileForm.getRawValue().size}} :</strong> {{sizeSpecials[profileForm.getRawValue().size]}}</p>
            }

            @if (profileForm.getRawValue().hand1.weapon.special != "" || (profileForm.getRawValue().hand1.enhancement && profileForm.getRawValue().hand1.enhancement?.special != "")) {
                @if(profileForm.getRawValue().hand1.enhancement) {
                    <p><strong>{{profileForm.getRawValue().hand1.weapon.name}} [{{profileForm.getRawValue().hand1.enhancement?.name}}] :</strong> {{profileForm.getRawValue().hand1.weapon.special + " | " + profileForm.getRawValue().hand1.enhancement?.special}} </p>
                } @else {
                    <p><strong>{{profileForm.getRawValue().hand1.weapon.name}} :</strong> {{profileForm.getRawValue().hand1.weapon.special}} </p>
                } 
            }

            @if (profileForm.getRawValue().hand2.weapon.special != "" || (profileForm.getRawValue().hand2.enhancement && profileForm.getRawValue().hand2.enhancement?.special != "")) {
                @if(profileForm.getRawValue().hand2.enhancement) {
                    <p><strong>{{profileForm.getRawValue().hand2.weapon.name}} [{{profileForm.getRawValue().hand2.enhancement?.name}}] :</strong> {{profileForm.getRawValue().hand2.weapon.special + " | " + profileForm.getRawValue().hand2.enhancement?.special}} </p>
                } @else {
                    <p><strong>{{profileForm.getRawValue().hand2.weapon.name}} :</strong> {{profileForm.getRawValue().hand2.weapon.special}} </p>
                } 
            }
            
            @if(profileForm.getRawValue().missile.special != "" || (profileForm.getRawValue().missileMisc && profileForm.getRawValue().missileMisc?.special != "")) {
                @if(profileForm.getRawValue().missileMisc) {
                    <p><strong>{{profileForm.getRawValue().missile.name}} [{{profileForm.getRawValue().missileMisc?.name}}] :</strong> {{profileForm.getRawValue().missile.special + " | " + profileForm.getRawValue().missileMisc?.special}} </p>
                } @else {
                    <p><strong>{{profileForm.getRawValue().missile.name}} : </strong> {{profileForm.getRawValue().missile.special}}</p>
                }
            }

            @if(profileForm.getRawValue().armour.special != "") {
                <p><strong>{{profileForm.getRawValue().armour.name}} : </strong> {{profileForm.getRawValue().armour.special}}</p>
            }

            @if(profileForm.getRawValue().misc1?.special != "") {
                <p><strong>{{profileForm.getRawValue().misc1?.name}} :</strong> {{profileForm.getRawValue().misc1?.special}}</p>
            }
            @if(profileForm.getRawValue().misc2?.special != "") {
                <p><strong>{{profileForm.getRawValue().misc2?.name}} :</strong> {{profileForm.getRawValue().misc2?.special}}</p>
            }

            @if(profileForm.getRawValue().trait1?.special != "") {

                <p><strong>{{profileForm.getRawValue().trait1?.name}} :</strong> {{profileForm.getRawValue().trait1?.special}}</p>
            }
            
            
            <p>{{profileForm.getRawValue().trait2?.name}} : {{profileForm.getRawValue().trait2?.special}}</p>
            <p>{{profileForm.getRawValue().trait3?.name}} : {{profileForm.getRawValue().trait3?.special}}</p>
            <p>{{profileForm.getRawValue().trait4?.name}} : {{profileForm.getRawValue().trait4?.special}}</p>
        </div>
    </div>
    }

</div>