@import "../../../../../styles.less";

.unit-card {
    border-radius: @space-md;
    border: 1px solid @background-strong;
    padding: @space-md;
}
.unit-card_desc {
    display: flex;
    align-items: center;
    gap: @space-md;
}
.unit-card_stats {
    display: flex;
    gap: @space-md;
}