<div class="unit-card">
    <div class="unit-card_desc">
        <div class="desc_main">
            <h3 class="title--accent">{{profile()?.nom}}</h3>
            <p>{{profile()?.size}}</p>
            <p>{{profile()?.archetype}}</p>
        </div>
        <div class="desc_float">
            @if(profile()?.isCharacter) {
                <p>{{profile()?.cost}} pts</p>
            } @else {
                <p>{{profile()?.cost}} * Qty: {{profile()?.quantity}} = {{profile()?.cost! * profile()?.quantity!}} pts</p>
            }
            
        </div>
    </div>
    <table class="unit-stats">
        <thead>
            <tr>
                <th>RES</th>
                <th>MOV</th>
                <th>ATT H1</th>
                <th>ATT H2</th>
                <th>SHT</th>
                <th>WND</th>
                <th>DVA</th>
                <th>DVS</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{profile()?.stats?.res}}</td>
                <td>{{profile()?.stats?.mov}}</td>
                <td>{{profile()?.stats?.attH1}}</td>
                <td>{{profile()?.stats?.attH2}}</td>
                <td>{{profile()?.stats?.sht}}</td>
                <td>{{profile()?.stats?.wnd}}</td>
                <td>{{profile()?.stats?.dva}}</td>
                <td>{{profile()?.stats?.dvs}}</td>
            </tr>
        </tbody>
    </table>
    <div class="unit-card_slots">
        <p class="strong">Equipment :</p>
        <div class="list">
            <p>{{profile()?.hand1?.name}}</p>
            <p>{{profile()?.hand2?.name}}</p>
            <p>{{profile()?.missile?.name}}</p>
            <p>{{profile()?.armour?.name}}</p>
            <p>{{profile()?.misc1?.name}}</p>
            <p>{{profile()?.misc2?.name}}</p>
        </div>
    </div>
    <div class="unit-card_slots">
        <p class="strong">Traits :</p>
        <div class="list">
            <p>{{profile()?.trait1?.name}}</p>
            <p>{{profile()?.trait2?.name}}</p>
            <p>{{profile()?.trait3?.name}}</p>
            <p>{{profile()?.trait4?.name}}</p>
        </div>
    </div>
    <div class="unit-controls">
        <app-btn-action label="Edit" icon="/icons/pencil.svg" [small]=true (click)="edit()" />
        
        @if(!profile()?.isCharacter) {
            <app-btn-action label="Duplicate" icon="/icons/files.svg" [small]=true (click)="duplicate(profile()!)" />
        }
        @if(profile()?.quantity! > 1) {
            <app-btn-action label="Remove" icon="/icons/down.svg" [small]="true" (click)="removeOne(profile()!)" />
        }

        <app-btn-action label="Erase" icon="/icons/cancel.svg" [small]=true (click)="delete(profile()?.id)" />
    </div>
</div>