@import "../../../../../styles.less";

.unit-listing() {
    display: flex;
    gap: @space-md;
}

.unit-card {
    position: relative;
    border-radius: @space-md;
    border: 1px solid @background-strong;
    padding: @space-md;
    background-color: @background-secondary;
}

.unit-customs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: @space-l 0 @space-l 0;

    table {
        width: 50%;
    }
    th {
        width: 40%;
    }
    td {
        width: 60%;
    }

    &_blocks {
        text-align: center;
        padding: @space-xs;
        border: 1px solid @background-strong;
        height: @space-2xl;
        border: 2px solid @background-strong;
        // border-radius: 0 @space-s @space-s 0;

        &--title {
            background-color: @accent;
            font-weight: bold;
            color: @text-secondary;
            // border-radius:  @space-s 0 0 @space-s;
        }
    }

}

.unit-card_desc {
    position: relative;
    align-items: center;
    .unit-listing();
}

.desc_main {
    display: flex;
    align-items: center;
}

.desc_float {
    position: absolute;
    right: @space-md;
}

.unit-stats {
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
    border: 2px solid @background-strong;
    border-radius: @space-s;

    th,
    td {
        text-align: center;
        padding: @space-xs;
        border: 1px solid @background-strong;
    }

    th {
        background-color: @accent;
        font-weight: bold;
        color: @text-secondary;
    }
}
.unit-controls {
    .unit-listing();
    justify-content: space-between;
}

.unit-card_slots {
    .unit-listing();
}

.unit-card_qty {
    position: absolute;
    right: @space-md;
}

.strong {
    color: @strong;
}

.list {
    .unit-listing();
}

.list--special {
    padding-left: @space-xl;
}