<div class="unit-card">
    <div class="unit-card_desc">
        <div class="desc_main">
            <h3 class="title--accent">Silent Templar</h3>
            <p>Average</p>
            <p>Minion</p>
        </div>
        <div class="desc_float">
            <p>19 pts</p>
        </div>
    </div>
    <table class="unit-stats">
        <thead>
            <tr>
                <th>RES</th>
                <th>MOV</th>
                <th>ATT H1</th>
                <th>ATT H2</th>
                <th>SHT</th>
                <th>WND</th>
                <th>DVA</th>
                <th>DVS</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>4+</td>
                <td>4</td>
                <td>5+</td>
                <td>/</td>
                <td>6+</td>
                <td>3</td>
                <td>5+</td>
                <td>5+</td>
            </tr>
        </tbody>
    </table>
    <div class="unit-card_slots">
        <p class="strong">Equipment :</p>
        <div class="list">
            <p>Long sword</p>
            <p>Large shield</p>
            <p>Heavy armor</p>
        </div>
    </div>
    <div class="unit-card_slots">
        <p class="strong">Traits :</p>
        <div class="list">
            <p>Holy order</p>
            <p>Resolute</p>
        </div>
    </div>
    <div class="unit-card_special">
        <p class="strong">Special rules :</p>
        <div class="list--special">
            <p>No armor malus for casting</p>
            <p>+1 on Resolve test</p>
        </div>
    </div>
    <p class="unit-card_qty">Qty : * 3</p>
</div>