<div>
    <h3>Silent Templar</h3>
    <div>
        <p>Average</p>
        <p>Minion</p>
    </div>
    <div>
        <p>RES : 4+</p>
        <p>MOV : 4</p>
        <p>ATT H1 : 5+</p>
        <p>ATT H2 : NONE</p>
        <p>SHT : 6+</p>
        <p>WND : 3</p>
        <p>DVA : 5+</p>
        <p>DVS : 5+</p>
        <p>PTS : 19</p>
    </div>
    <div>
        <p>Equipment</p>
        <div>
            <p>Long sword</p>
            <p>Large shield</p>
            <p>Heavy armor</p>
        </div>
    </div>
    <div>
        <p>Traits :</p>
        <div>
            <p>Holy order</p>
            <p>Resolute</p>
        </div>
    </div>
    <p>Qty : * 3</p>
</div>
