<div class="overview-container">
    <h2 class="title--accent">Golden Silence</h2>
    <div class="overview">
        <div class="overview_stats">
            <div class="statblock">
                <img src="/icons/crown-coin.svg" class="statblock_icon" />
                <p class="shared-input">Budget : {{partyStore.totalCost()}} / <input type="number" placeholder="{{partyStore.budget()}}" [value]="partyStore.budget()" (input)="partyStore.setBudget(+$any($event.target).value)" /></p>
            </div>
            <div class="statblock">
                <img src="/icons/visored-helm.svg" class="statblock_icon" />
                <p>Profiles : {{partyStore.profileCount()}} / 9</p>
            </div>
            <div class="statblock">
                <img src="/icons/crown.svg" class="statblock_icon" />
                <p>Characters : {{partyStore.characterCount()}}</p>
            </div>
        </div>

        <div class="overview_controls">
            <app-btn-action label="Export PDF" icon="/icons/id-card.svg" />
            <app-btn-action label="Export JSON" icon="/icons/save.svg" />
            <app-btn-action label="Import JSON" icon="/icons/load.svg" />
            <app-btn-action label="Add Profile" icon="/icons/healing-shield.svg" [variant]=true (click)="createProfile()" />
        </div>
    </div>
</div>