@import "../../../../../styles.less";


.overview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: @space-md;
    border-bottom: 1px solid @background-strong;
}

.overview_stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: @space-md;
}
.overview_controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: @space-md;
}